@import url('https://fonts.googleapis.com/css2?family=Bitter&family=PT+Serif&display=swap');

* {
    padding: 0;
    text-decoration: none;
    list-style: none;
    margin: 0;
    box-sizing: border-box;
    font-family: 'PT Serif', serif;
}
body{
  background-color: #fffffc;
}
/*SCROLLBAR*/ 
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #ffffff; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #dcdcdc; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #a31e24; 
  }
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
  background-color: white;
  padding: 10px 0;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 1;
  width: 100%;
  height: 100px;
  margin: 0px;
  display: block;
}

#header .logo img {
    margin-top: -10px;
    padding: 0;
    display: block;
    float: left;
    width: 170px;
    height: 95px;
}

.container {
    padding-right: 2%;
    padding-left: 3%;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Meu Container */

#nav-menu-container {
    float: right;
    display: block;
    margin-top: 40px;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}
/* Nav Meu Styling */

.nav-menu a {
  padding: 8px;
  text-decoration: none;
  display: block;
  color: #000000;
  font-weight: 600;
  font-size: 18px;
  outline: none;
  font-family: 'Bitter', serif;
}

.nav-menu .menu-active,
.nav-menu a:hover {
  color: #a31e24;
  display: block;
}

.nav-menu > li {
  margin-left: 8px;
}
.nav-menu > li > a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #a31e24;
  visibility: hidden;
  transition: all 0.3s ease-in-out 0s;
}

.nav-menu a:hover:before,
.nav-menu li:hover > a:before{
  visibility: visible;
  width: 100%;
}

.men{
  display: none;
}
@media screen and (max-width: 800px) {
    .nshow{
      display: none;
    }
    .sidepanel  {
      background-color: white;
      width: 0;
      position: fixed;
      z-index: 1;
      height: 100%;
      top: 0;
      right: 0;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
    }

    .sidepanel a:hover {
        border-bottom: 3px solid #a31e24;
    }
    .sidepanel .closebtn {
        position: absolute;
        top: 10px;
        right: 25px;
        font-size: 20px;
    }
    .openbtn,.closebtn {
        background: #a31e24;
        color: #dcdcdc;
        font-size: 20px;
        border: 2px solid #dcdcdc;
        cursor: pointer;
        height: 30px;
        width: 30px;
    }
    .openbtn:hover,.closebtn:hover {
        background:#dcdcdc;
        color: #a31e24;
    }

    .men{
        float: right;
        padding: 10px 5px 10px 10px;
        display: block;
    }
    .men a{
      padding: 15px;
      text-decoration: none;
      display: block;
      color: #000000;
      font-weight: 600;
      font-size: 18px;
      outline: none;
      font-family: 'Bitter', serif;
    }

  .men .menu-active,
  .men a:hover {
        color: #a31e24;
    }
}
/*--------------------------------------------------------------
# Navigation Menu End
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Home page
--------------------------------------------------------------*/
.slideshow-container {
  margin-top: 100px;
  width: 100%;
  position: relative;
}
/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
.pagetitlebg img {
    margin-top: 100px;
    overflow: visible;
    width: 100%;
    height: 200px;
}
.pagetitlebg {
    position: relative;
    text-align: center;
}
.pagetitlebg .centered{
    margin-top: 50px;
    position:absolute ;
    top:50%;
    left: 30%;
    transform: translate(-50%,-50%);
    color:#a31e24 ;
    background-color: #dcdcdc;
    letter-spacing: 4px;
    font-size: 30px;
    padding: 10px 30px 10px;
}
.homecontainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 30px;
  font-weight: 400;
  padding-bottom: 30px;
  border: 5px solid red;
}
.homecontainer .parag{
  padding-left: 4%;
  width: 40%;
  display: flex;
  text-align: justify;
  align-items: center;
  padding-right: 4%;
  font-size: 16px;
  font-weight: 400;   
}
.homecontainer .image{
  width: 40%;
  display: flex;
  justify-content: center;
}
.homecontainer .image img{
  width: 80%;
}
.homeexpertise{
  display: flex;
  flex-wrap: wrap;
  padding: 40px;
  color: #000000;
  text-align: center;
}
.homeexpertise .title{
  font-size: 32px;
  color: #a31e24;
  font-family: 'Bitter', serif;
  width: 100%;
  font-weight: 600;
  padding-bottom: 30px;
}
.homeexpertise .parag{
  padding-left: 4%;
  width: 100%;
  padding-right: 4%;
  font-size: 16px;
  font-weight: 400; 
}
@media screen and (max-width: 930px){
  .homecontainer{
    flex-direction: column;
    align-items: center;
  }
  .homecontainer .mainobject{
    width: 90%;
  }
  .homecontainer .parag{
    width: 100%;
  }
  .homecontainer .image{
    
  }
}
@media screen and (max-width: 800px){
  .homeexpertise{
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .homeexpertise .title{
    font-size: 20px;
  }
  .homeexpertise .parag{
    padding-left: 0;
    padding-right: 0;
    font-size: 15px; 
  }
  .pagetitlebg .centered{
    left: 50%;
    font-size: 18px;
  }
  .homecontainer .objectimage{
    height: 400px;
  }
}
/*--------------------------------------------------------------
# Home end
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# process capabilities start
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# product page
--------------------------------------------------------------*/
.containermain .card {
  box-shadow: 0px 3px 6px #a31e24;
  border-radius: 15px;
  border: 2px solid #a31e24;
  transition: 0.3s;
  background-color: #ffffff;
  margin: 20px;
  width: 40%;
  text-align: center;
  color: #000000;
  padding: 10px;
  height: 600px;
  position: relative;
}
.containermain{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-bottom: 30px;
}
.containermain .card:hover {
  box-shadow: 0 8px 16px 0 rgba(44, 43, 43, 0.911);
}
.containermain .image1 {
    position: relative;
    overflow: visible;
    display: block;
    width: 100%;
    border-radius: 15px;
}
.containermain .title{
  margin-top: 15px;
  width: 100%;
  height: 50px;
  font-size: 24px;
  font-weight: 600;
  color: #a31e24;
  font-family: 'Bitter', serif;
}
.containermain .productcontent{
  margin-top: 20px;
  padding-left: 4%;
  width: 100%;
  padding-right: 4%;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}

@media screen and (max-width: 1200px) {
  .containermain  .card {
      width: 47%;
      margin:10px;
  }
}
@media screen and (max-width: 750px) {
  .containermain  .card {
      width: 90%;
      margin:15px;
  }
}
/*--------------------------------------------------------------
# product end
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# about us start
--------------------------------------------------------------*/
.aboutuscontainer{
  padding-top: 30px;
  padding-bottom: 30px;
}
.aboutusabout{
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  color: #000000;
  text-align: center;
}
.aboutusabout .title{
  font-size: 32px;
  color: #a31e24;
  font-family: 'Bitter', serif;
  width: 100%;
  font-weight: 600;
  padding-bottom: 30px;
}
.aboutusabout .parag{
  padding-left: 4%;
  width: 100%;
  padding-right: 4%;
  font-size: 16px;
  font-weight: 400; 
}
@media screen and (max-width: 800px){
  .aboutusabout{
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .aboutusabout .title{
    font-size: 20px;
  }
  .aboutusabout .parag{
    padding-left: 0;
    padding-right: 0;
    font-size: 15px; 
  }
}
/*--------------------------------------------------------------
# about us end
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# contact us start
--------------------------------------------------------------*/
.contactuscontainer{
  font-size: 16px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  padding-top: 30px;
  font-weight: 400;
}
.contactuscontainer .contactform{
  font-family: 'Bitter', serif;
  width: 45%;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
}
.contactuscontainer .contactaddress{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 45%;
  padding: 20px;
  height: 600px;
}
.contactuscontainer .contactaddress .addcontent{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 10px; 
}
.contactuscontainer .contactaddress i{
  padding-right: 10px;
  color: #a31e24;
}
@media screen and (max-width: 930px){
  .contactuscontainer{
    flex-direction: column-reverse;
    align-items: center;
  }
  .contactuscontainer .contactform{
    width: 90%;
  }
  .contactuscontainer .contactaddress{
    height: 340px;
    width: 90%;
    padding: 20px 0px;
  }
}

/*--------------------------------------------------------------
# contact us end
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# footer
--------------------------------------------------------------*/
.footer{
  height: 50px;
  color: #dcdcdc;
  font-size: 15px;
  background-color: #000000;
  padding: 15px;
  font-family: 'Bitter', serif;
}
.footer .leftalign{
  float: left;
}
.footer .rightalign{
  float: right;
}
@media screen and (max-width: 800px){
  .footer{
    text-align: center;
    font-size: 12px;
    padding: 5px;
  }
  .footer .leftalign,
  .footer .rightalign{
    float: none;
  }
}
/*--------------------------------------------------------------
# footer end
--------------------------------------------------------------*/
