@import url('https://fonts.googleapis.com/css2?family=Bitter&family=PT+Serif&display=swap');

body{
    background-color:#19181D;
}
* {
    padding: 0;
    text-decoration: none;
    list-style: none;
    margin: 0;
    box-sizing: border-box;
    font-family: 'PT Serif', serif;
}
.container{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
img{
    margin-top: 100px;
    z-index: 1;
}
.circle{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background: linear-gradient(#313247 0%,#19181D 30%);
    position: absolute;
    display: flex;
    justify-content: center;
}
.circle:before,
.circle:after{
    content:'';
    height: 400px;
    width: 400px;
    background: linear-gradient(#FFD1DA 0%,#FF849D 5%,#2D2133 25%);
    border-radius: 50%;
    position:absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-filter:blur(7px);
    z-index:-1;
}
.circle:after{
    top: 35%;
    -webkit-filter:blur(14px);
    opacity: .3;
}
.msg1{
    overflow: hidden;
    padding: 1%;
    font-family: sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #dcdcdc;
    letter-spacing: 14px;
    position: absolute;
    justify-content: center;
    display: flex;
    margin-top: 300px;
}
.msg{
    overflow: hidden;
    padding: 1%;
    font-family: sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #dcdcdc;
    letter-spacing: 14px;
    position: absolute;
    justify-content: center;
    display: flex;
    margin-top: 340px;
}
.container .but{
  background: #dcdcdc;
  cursor: pointer;
  height: 46px;
  line-height: 29px;
  border-radius: 34px;
  padding: 6px 39.68px;
    font-family: sans-serif;
    font-size: 22px;
    font-weight: 600;
    margin-top: 400px;
    z-index: 1;
}
.container .but a{
    color: #000000;
}
.container a:hover{
    color: #a31e24;
}